		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    margin: 0;
    font-family: monospace;
}

nav {
	padding: 20px;
	width: 100%;
	height: 30px;
	background-color: white;
	position: fixed;
	font-size: 15pt;}

nav .recent {
  font-size: 12px;
}

div {
	padding: 10px;
	width:100%;
	display: block;
	scroll-margin-top:40px;
	margin-top: 0;

}


nav ol {
  display: flex;
  gap: 10px;
  align-items: center;
}

nav ol li:last-child {
  margin-left: auto;
}


li {
	display: inline; /*자기 길이만큼만 차지해라*/
}

p{
	margin-top: 5px;
}

.image {
  height: 400px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 10px;
  margin-top: 30px;
}

.image img {
  height: 100%;     /* 이게 핵심 */
  width: auto;      /* 비율 유지 */
  flex-shrink: 0;
}

.image::-webkit-scrollbar {
  height: 6px; /* 두께 */
}

.image::-webkit-scrollbar-track {
  background: transparent; /* 트랙 투명 */
}

.image::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.1); /* 살짝만 보이게 */
  border-radius: 3px;
}

.image::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.4);
}

.image img:first-child {
  margin-right: 30px;
}

.description{
height: 180px;
width: 80%;
}

.indent {
    margin-left: 20px;
}

.indent2 {
    margin-left: 20px;
    color: slategrey;
}

a{
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	background-color: ghostwhite;
}

a:visited {
        color: black; /*일반 텍스트처럼 보이도록 하기위해*/
      }



@media screen and (max-width: 704px) {

}
